@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Trocchi|Vidaloka&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section-title {
  font-family: 'Vidaloka', serif;
  color: #000000;
  margin: 0 auto;
}

.section-title__prefix {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.section-title__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title__title {
  font-size: 50px;
  line-height: 1.2;
  padding: 0 16px;
}

.section-title__line {
  width: 50px;
  height: 5px;
  background-color: #000000;
}

.project-container {
  padding-top: 40px;
}

.project-container_centered {
  max-width: 1170px;
  margin: 0 auto;
}

.project-container_justify-content_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.project-container_margin-top_90 {
  margin-top: 90px;
}

.small-photo-container {
  width: 460px;
  height: 380px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.small-photo-container_margin-right_40 {
  margin-right: 40px;
}

.big-photo {
  position: relative;
  z-index: 0;
}

.big-photo_margin-top_minus110 {
  margin-top: -110px;
}

.big-photo__caption {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 13px;
}

.big-photo__caption_rotateZ_minus90 {
  -webkit-transform-origin: 0 100% 0;
          transform-origin: 0 100% 0;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  padding-left: 430px;
}

.big-photo__caption_rotateZ_90 {
  width: 1345px;
  text-align: end;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  padding-top: 13px;
  padding-bottom: 0;
  padding-right: 30px;
}

.projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  margin-left: 470px;
}

.projects-content__col {
  font-size: 18px;
  line-height: 36px;
  width: 470px;
  height: 270px;
  padding-left: 104px;
}

.project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-title_margin-left_minus30 {
  margin-left: -30px;
}

.project-title_margin-top_115 {
  margin-top: 115px;
}

.project-title__text {
  font-family: 'Vidaloka', serif;
  font-size: 30px;
  line-height: 1.2;
}

.project-title__text_width_220 {
  width: 220px;
}

.project-title__text_width_180 {
  width: 180px;
}

.project-title__text_text-align_end {
  text-align: end;
}

.project-title__line {
  width: 100px;
  height: 5px;
  background-color: #000000;
}

.project-title__line_margin-top_15 {
  margin-top: 15px;
}

.project-title__line_margin-left_20 {
  margin-left: 20px;
}

.project-title__line_margin-right_20 {
  margin-right: 20px;
}

.project-description {
  width: 600px;
  padding-left: 130px;
  padding-right: 82px;
  font-size: 18px;
  line-height: 36px;
}

.small-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
}

.small-photo_margin-left_445 {
  margin-left: 445px;
}

.small-photo_margin-top_minus50 {
  margin-top: -50px;
}

.year-area {
  position: absolute;
  width: 90px;
  height: 123px;
  background-color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.year-area_left_min30 {
  left: -30px;
}

.year-area_top_347 {
  top: 347px;
}

.year-area_top_min60 {
  top: -60px;
}

.year-area_left_30 {
  left: 30px;
}

.container {
  max-width: 1920px;
  background-color: #fff;
  border: 1px solid black;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #000000;
}

.projects-photo__caption, .design-photo__caption {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 13px;
}

.header {
  padding-bottom: 156px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  border-bottom: 5px solid #fff;
  margin: 0 20px;
}

.header-nav__item_active {
  border-bottom: 5px solid #2b78a6;
}

.header-nav__link {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.header-nav__link:hover {
  font-weight: 700;
  color: #2b78a6;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  margin-right: -470px;
  margin-top: 100px;
  position: relative;
}

.slogan {
  width: 400px;
  opacity: 0.9;
  background-color: #000000;
  padding-top: 51px;
  padding-left: 49px;
  padding-right: 90px;
}

.slogan__text {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.slogan__text_color_78 {
  color: #787878;
}

.underline {
  width: 197px;
  height: 3px;
  background-color: #2b78a6;
}

.projects-first {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects-image-container {
  margin-top: 40px;
  margin-right: 40px;
  position: relative;
  z-index: 1;
  width: 460px;
  height: 380px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-photo {
  position: relative;
  z-index: 0;
}

.projects-photo_margin-top_minus110 {
  margin-top: -110px;
}

.projects-photo__caption_rotateZ_minus90 {
  -webkit-transform-origin: 0 100% 0;
          transform-origin: 0 100% 0;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  padding-left: 430px;
}

.projects-photo__caption_rotateZ_90 {
  width: 1345px;
  text-align: end;
  -webkit-transform-origin: 100% 0 0;
          transform-origin: 100% 0 0;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  padding-top: 13px;
  padding-bottom: 0;
  padding-right: 30px;
}

.projects-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 36px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects-content__text {
  width: 600px;
  padding-left: 130px;
  padding-right: 82px;
  font-size: 18px;
  line-height: 36px;
}

.projects-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-content-title__main {
  width: 220px;
  font-family: 'Vidaloka', serif;
  font-size: 30px;
  line-height: 1.2;
  text-align: end;
  padding-right: 20px;
}

.projects-content-title__line {
  width: 100px;
  height: 5px;
  background-color: #000000;
}

.project2 {
  padding: 150px 0;
}

.projects-second-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 115px;
  margin-left: -30px;
}

.projects-second-title__line {
  margin-top: 15px;
  width: 100px;
  height: 5px;
  background-color: #000000;
}

.projects-second-title__main {
  font-family: 'Vidaloka', serif;
  font-size: 30px;
  line-height: 1.2;
  width: 180px;
  padding-left: 18px;
}

.project-small-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 445px;
  margin-top: -50px;
  position: relative;
  z-index: 10;
}

.project2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 470px;
}

.project2-text {
  font-size: 18px;
  line-height: 36px;
  width: 470px;
  height: 270px;
  padding-left: 104px;
  margin-top: 66px;
}

.design {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  background-position: 25% 150px;
  padding-bottom: 165px;
}

.design-photo {
  position: absolute;
  right: 50%;
  top: -250px;
  width: 500px;
  -webkit-transform-origin: 100% 100% 0;
          transform-origin: 100% 100% 0;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

@media (max-width: 800px) {
  .design-photo {
    left: -80px;
  }
}

.design-photo__caption {
  padding-left: 50px;
}

.design-content-container {
  width: 770px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 800px) {
  .design-content-container {
    width: 100%;
    margin-top: 500px;
  }
}

.design-content {
  position: relative;
  z-index: 10;
  width: 460px;
  margin-top: 110px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 1000px) {
  .design-content {
    margin-left: 25%;
  }
}

.design-content__text {
  font-size: 18px;
  line-height: 36px;
  padding: 0 30px 46px 100px;
}

.design-content__bnt {
  width: 180px;
  height: 44px;
  border: 2.0px solid #000000;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  background-color: #fff;
  margin-left: 100px;
  cursor: pointer;
}

.design-content__bnt:hover {
  color: #2b78a6;
  font-weight: bold;
}

.image-container {
  width: 460px;
  height: 360px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hr-line {
  background-color: #e1e1e1;
}

.footer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 39px 10px 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 500px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-cart {
  width: 25%;
  font-size: 18px;
}

@media (max-width: 1000px) {
  .footer-cart {
    width: 50%;
  }
}

.footer-cart__title {
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 25px;
}

.footer-cart__text {
  line-height: 24px;
  color: #646464;
}

.footer-cart__to-map {
  line-height: 24px;
  color: #2b78a6;
  text-decoration: none;
}

.footer-cart__to-map:hover {
  font-weight: bold;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 77px;
}

.footer-nav__col {
  width: 50%;
}

.footer-nav__link {
  line-height: 30px;
  color: #2b78a6;
  text-decoration: none;
}

.footer-nav__link:hover {
  font-weight: bold;
}

.copyright {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #646464;
  padding: 90px 0;
}

.signature {
  width: 124px;
  height: 22px;
  background-color: #000000;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */