@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Trocchi|Vidaloka&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1920px;
  background-color: #fff;
  border: 1px solid black;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #000000;
}

.design {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  background-position: 25% 150px;
  padding-bottom: 165px;
}

.section-title {
  font-family: 'Vidaloka', serif;
  color: #000000;
  margin: 0 auto;
}

.section-title__prefix {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.section-title__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title__title {
  font-size: 50px;
  line-height: 1.2;
  padding: 0 16px;
}

.section-title__line {
  width: 50px;
  height: 5px;
  background-color: #000000;
}

.design-photo {
  position: absolute;
  right: 50%;
  top: -250px;
  width: 500px;
  -webkit-transform-origin: 100% 100% 0;
          transform-origin: 100% 100% 0;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

@media (max-width: 800px) {
  .design-photo {
    left: -80px;
  }
}

.design-photo__caption {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 0 13px 50px;
}

.design-content-container {
  width: 770px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 800px) {
  .design-content-container {
    width: 100%;
    margin-top: 500px;
  }
}

.design-content {
  position: relative;
  z-index: 10;
  width: 460px;
  margin-top: 110px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 1000px) {
  .design-content {
    margin-left: 25%;
  }
}

.design-content__text {
  font-size: 18px;
  line-height: 36px;
  padding: 0 30px 46px 100px;
}

.design-content__bnt {
  width: 180px;
  height: 44px;
  border: 2.0px solid #000000;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  background-color: #fff;
  margin-left: 100px;
  cursor: pointer;
}

.design-content__bnt:hover {
  color: #2b78a6;
  font-weight: bold;
}

.image-container {
  width: 460px;
  height: 360px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hr-line {
  background-color: #e1e1e1;
}

.footer {
  max-width: 1170px;
  margin: 0 auto;
  padding: 39px 10px 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 500px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-cart {
  width: 25%;
  font-size: 18px;
}

@media (max-width: 1000px) {
  .footer-cart {
    width: 50%;
  }
}

.footer-cart__title {
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 25px;
}

.footer-cart__text {
  line-height: 24px;
  color: #646464;
}

.footer-cart__to-map {
  line-height: 24px;
  color: #2b78a6;
  text-decoration: none;
}

.footer-cart__to-map:hover {
  font-weight: bold;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 77px;
}

.footer-nav__col {
  width: 50%;
}

.footer-nav__link {
  line-height: 30px;
  color: #2b78a6;
  text-decoration: none;
}

.footer-nav__link:hover {
  font-weight: bold;
}

.copyright {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #646464;
  padding: 90px 0;
}

.signature {
  width: 124px;
  height: 22px;
  background-color: #000000;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */