@import "reset";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Trocchi|Vidaloka&display=swap');

@import "section-title";
@import "projects";
@import "year-area";
@import "design";

.container {
    max-width: 1920px;
    background-color: #fff;
    border: 1px solid black; // TODO  delete
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #000000;
}

// header 
//------------------------------------------------------------------------------

.header {
    padding-bottom: 156px;
}

.header-nav {
    display: flex;
    padding-left: 50%;
    align-items: center;

    &__item {
        display: flex;
        align-items: center;
        height: 55px;
        border-bottom: 5px solid #fff;
        margin: 0 20px;

        &_active {
            border-bottom: 5px solid #2b78a6;
        }

    }

    &__link {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;

        &:hover {
            font-weight: 700;
            color: #2b78a6;
        }
    }
}

.header-content {
    display: flex;
    justify-content: flex-end;
}

.header-title {
    display: flex;
    height: 200px;
    margin-right: -470px;
    margin-top: 100px;
    position: relative;
}

.slogan {
    width: 400px;
    opacity: 0.9;
    background-color: #000000;
    padding-top: 51px;
    padding-left: 49px;
    padding-right: 90px;

    &__text {
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;

        &_color_78 {
            color: #787878;
        }
    }
}

.underline {
    width: 197px;
    height: 3px;
    background-color: #2b78a6;
}



/

// footer
// -------------------------------------------------------------------

.hr-line {
    background-color: #e1e1e1;
}

.footer {
    max-width: 1170px;
    margin: 0 auto;
    padding: 39px 10px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
    }
}

.footer-cart {
    width: 25%;
    font-size: 18px;

    @media (max-width: 1000px) {
        width: 50%;
    }

    &__title {
        line-height: 1.2;
        font-weight: 400;
        color: #000000;
        padding-top: 30px;
        padding-bottom: 25px;
    }

    &__text {
        line-height: 24px;
        color: #646464;
    }

    &__to-map {
        line-height: 24px;
        color: #2b78a6;
        text-decoration: none;

        &:hover {
            font-weight: bold;
        }
    }
}

.footer-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 77px;

    &__col {
        width: 50%;
    }

    &__link {
        line-height: 30px;
        color: #2b78a6;
        text-decoration: none;

        &:hover {
            font-weight: bold;
        }
    }
}

.copyright {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #646464;
    padding: 90px 0;
}

.signature {
    width: 124px;
    height: 22px;
    background-color: #000000;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}